[package]
name = "goku-bench"
version = "1.1.3"
edition = "2021"
authors = ["Joaquin Caro <me@joaquin-caro.es>"]
description = "Goku is an HTTP load testing application written in Rust "
repository = "https://github.com/jcaromiq/goku"
keywords = ["performance", "http", "benchmark", "load-testing", "performance-testing"]
license = "MIT"

[[bin]]
name = "goku"
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
reqwest = { version = "0.11.22", default-features = false, features = [
    "rustls-tls",
    "rustls-native-certs",
    "json",
    "stream",
] }
tokio = { version = "1.33.0", features = ["full"] }
futures = "0.3.29"
clap = { version = "4.4.7", features = ["derive"] }
hdrhistogram = "7.5.2"
colored = "2.0.4"
strum = { version = "0.25.0", features = ["derive"] }
anyhow = "1.0.75"
ctrlc = "3.4.1"
serde_yaml = "0.9.27"
serde = { version = "1.0.190", features = ["derive"] }
rustls = "0.21.8"
rustls-pemfile = "2.0.0"
indicatif = "0.17.7"

[dev-dependencies]
pretty_assertions = "1.4.0"


[profile.release]
strip = true
opt-level = 'z'
lto = true
codegen-unit = 1
panic = 'abort'
